/* Prose styles for markdown content */
.prose {
  color: #3f3f46;
  max-width: 65ch;
}

.prose :where(p):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where([class~="lead"]):not(:where([class~="not-prose"] *)) {
  color: #52525b;
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  color: #2563eb;
  text-decoration: underline;
  font-weight: 500;
}

.prose :where(strong):not(:where([class~="not-prose"] *)) {
  color: #18181b;
  font-weight: 600;
}

.prose :where(ol):not(:where([class~="not-prose"] *)) {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(ul):not(:where([class~="not-prose"] *)) {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(li):not(:where([class~="not-prose"] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose :where(ul > li):not(:where([class~="not-prose"] *)) {
  padding-left: 0.375em;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  color: #18181b;
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  color: #18181b;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
  color: #18181b;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose :where(h4):not(:where([class~="not-prose"] *)) {
  color: #18181b;
  font-weight: 600;
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  font-weight: 500;
  font-style: italic;
  color: #18181b;
  border-left-width: 0.25rem;
  border-left-color: #e4e4e7;
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  color: #18181b;
  font-weight: 600;
  font-size: 0.875em;
  background-color: #f4f4f5;
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  color: #e4e4e7;
  background-color: #27272a;
  overflow-x: auto;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding: 0.8571429em 1.1428571em;
}

.prose :where(pre code):not(:where([class~="not-prose"] *)) {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.prose :where(table):not(:where([class~="not-prose"] *)) {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}

.prose :where(thead):not(:where([class~="not-prose"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: #d4d4d8;
}

.prose :where(thead th):not(:where([class~="not-prose"] *)) {
  color: #18181b;
  font-weight: 600;
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

.prose :where(tbody tr):not(:where([class~="not-prose"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: #e4e4e7;
}

.prose :where(tbody td):not(:where([class~="not-prose"] *)) {
  vertical-align: baseline;
  padding: 0.5714286em;
}

/* Dark mode styles */
.dark .prose {
  color: #d4d4d8;
}

.dark .prose :where(strong):not(:where([class~="not-prose"] *)) {
  color: #fafafa;
}

.dark .prose :where(h1):not(:where([class~="not-prose"] *)),
.dark .prose :where(h2):not(:where([class~="not-prose"] *)),
.dark .prose :where(h3):not(:where([class~="not-prose"] *)),
.dark .prose :where(h4):not(:where([class~="not-prose"] *)) {
  color: #fafafa;
}

.dark .prose :where(a):not(:where([class~="not-prose"] *)) {
  color: #60a5fa;
}

.dark .prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  color: #fafafa;
  border-left-color: #3f3f46;
}

.dark .prose :where(code):not(:where([class~="not-prose"] *)) {
  color: #fafafa;
  background-color: #27272a;
}

.dark .prose :where(thead):not(:where([class~="not-prose"] *)) {
  border-bottom-color: #52525b;
}

.dark .prose :where(thead th):not(:where([class~="not-prose"] *)) {
  color: #fafafa;
}

.dark .prose :where(tbody tr):not(:where([class~="not-prose"] *)) {
  border-bottom-color: #3f3f46;
}
